@import url(global.css);
body { background: #2B2D2E url("../img/footer_lodyas.png") repeat top left; background-size: cover; }

/* Login Styles
--------------------------------*/
#login-area { position: relative; width: 100%; height: 100%; }
#login-area #login-overlay { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
#login-area .login-container { margin-top: 8%; }
#login-area .login-container img { width: 217px; height: auto; margin: 0 auto 0px; }
#login-area .login-container img + p { color: #fff; padding: 3px 0; margin: 0 0 10px; display: block; text-align: center; font-weight: 100; }
#login-area .login-container .card { background-color: transparent; border: 8px solid rgba(0, 0, 0, 0.2); border-radius: 4px; }
#login-area .login-container .card .card-block { background-color: #fff; border-radius: 4px; }
#login-area .login-container hr { margin: 15px 0 10px; padding: 0; }
#login-area .login-container ul.social-login { list-style-type: none; margin: 5px 0 5px; padding: 0; display: block; }
#login-area .login-container ul.social-login li { display: inline-block; padding: 0; margin: 0; }
#login-area .login-container ul.social-login li a { font-size: 32px; margin: 0 5px 0 0; padding: 0; display: block; line-height: 32px; transition: color 0.4s ease-in-out; }
#login-area .login-container ul.social-login li a:hover { color: #333; }
