/* Colors
--------------------------------*/
/* Mixins
--------------------------------*/
body, html { width: 100%; height: 100%; background-color: #2B2D2E; overflow-x: hidden; font-family: 'Raleway', sans-serif; position: relative; }

/* Global Styles
--------------------------------*/
a { color: #EA3390; }

.pull-bottom { display: inline-block; vertical-align: bottom; }

.fix { clear: both; float: none; }

.btn-pink { background-color: #EA3390; border-color: #EA3390; color: #fff; transition: all 0.4s ease-in-out; }
.btn-pink:hover { background-color: #333; border-color: #333; color: #fff; }

.btn-pink-outline { border-color: #EA3390; background-color: transparent; color: #EA3390; transition: color 0.4s ease-in-out; }
.btn-pink-outline:hover { background-color: #EA3390; color: #fff; }

/* Bottom Nav
--------------------------------*/
.navbar#btt-nav { padding: 0rem 1rem; }
.navbar#btt-nav .nav { margin: 0 auto; display: inline-block; width: auto; }
.navbar#btt-nav .nav li { padding: 0 5px; }
.navbar#btt-nav .nav li a.nav-link { padding-bottom: 0; padding-top: 0.22rem; }
.navbar#btt-nav .nav li p { margin: 0; font-size: 11px; }
.navbar#btt-nav .nav li i { font-size: 30px; padding: 0; margin: 0; }
.navbar#btt-nav .nav .nav-item + .nav-item { margin-left: 1.5em; }

body { padding-top: 54px; padding-bottom: 54px; }

/* Loader Styles
--------------------------------*/
#loader { position: fixed; top: 0; height: 0; z-index: 2000; background: #333 url("../img/footer_lodyas.png") repeat top left; width: 100%; min-height: 200px; color: #fff; text-align: center; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='your_transparent.png', sizingMethod='scale'); pointer-events: none; }
#loader p { font-size: 42px; }
#loader .loader-center { margin: 48% auto 0; display: block; width: 300px; }
#loader .spin-load { font-size: 74px; margin: 0; padding: 0; }

/* Navbar Styles
--------------------------------*/
.navbar-brand { padding: 0; margin-top: -4px; margin-bottom: -3px; }

.navbar-brand > img { width: 120px; height: auto; }

/* Ebooks List Styles
--------------------------------*/
#ebooks-container { display: block; overflow-y: scroll; -webkit-overflow-scrolling: touch; overflow-x: hidden; height: 100%; }
#ebooks-container .ebook-list { position: relative; padding: 15px 0 0 0; background: #2b2d2e; /* Old browsers */ background: -moz-linear-gradient(top, #2b2d2e 0%, #111111 92%); background: -webkit-linear-gradient(top, #2b2d2e 0%, #111111 92%); background: linear-gradient(to bottom, #2b2d2e 0%, #111111 92%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2b2d2e', endColorstr='#111111',GradientType=0 ); }
#ebooks-container .ebook-list .col-sm-3 { padding-left: 1.3rem; padding-right: 1.3rem; }
#ebooks-container .ebook-list a { position: relative; display: block; margin: 0; padding: 0; -webkit-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5); -moz-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5); box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5); overflow: hidden; }
#ebooks-container .ebook-list a .book-titlef { width: 100%; position: absolute; bottom: -18px; left: 0; background-color: rgba(43, 45, 46, 0.1); color: #fff; font-size: 10px; line-height: 18px; max-height: 18px; }
#ebooks-container .ebook-list a .book-titlef p { margin: 0; text-align: center; }
#ebooks-container .ebook-list a .cover-overlay { transition: all 0.5s ease; position: absolute; width: 100%; bottom: -100px; left: 0; height: 100%; background: rgba(51, 51, 51, 0.5); left: 0; z-index: 1001; color: #fff; text-align: center; }
#ebooks-container .ebook-list a .cover-overlay span { width: 100%; margin-top: 50%; display: block; }
#ebooks-container .ebook-list a .cover-overlay span i { font-size: 48px; }
#ebooks-container .ebook-list a .cover-overlay p { margin: 45% 0 5px 0; font-size: 14px; }
#ebooks-container .ebook-list a .cover-overlay .btn { margin: 0; }
#ebooks-container .ebook-list a:hover > .cover-overlay { display: block; left: 0; bottom: 0 !important; height: 100%; }
#ebooks-container .ebook-list a img { display: block; width: 100%; height: auto; }
#ebooks-container .ebook-list a img:hover, #ebooks-container .ebook-list a img:active, #ebooks-container .ebook-list a img:focus { cursor: pointer; }
#ebooks-container .cover-style { position: absolute; top: 0; left: 0; width: 120%; overflow-x: hidden; height: 100%; z-index: 1000; webkit-box-shadow: inset 0px -6px 15px 0px rgba(0, 0, 0, 0.75); -moz-box-shadow: inset 0px -6px 15px 0px rgba(0, 0, 0, 0.75); box-shadow: inset 0px -6px 15px 0px rgba(0, 0, 0, 0.75); filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='your_transparent.png', sizingMethod='scale'); pointer-events: none; }

.triangle-topright { display: block; position: relative; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='your_transparent.png', sizingMethod='scale'); pointer-events: none; z-index: 1001; }
.triangle-topright a { color: #fff; }
.triangle-topright::before { content: ''; border-top: 55px solid #EA3390; border-left: 55px solid transparent; position: absolute; top: 0; right: 0; }
.triangle-topright.bought-m::before { border-top: 55px solid #5cb85c; }
.triangle-topright .triangle-text { transform: rotate(45deg); position: absolute; top: 8px; right: 1px; width: 40px; color: #fff; font-size: 12px; font-weight: bold; }

/* Search Box
--------------------------------*/
#search-box { display: none; position: absolute; width: 100%; top: 0; left: 0; z-index: 1031; background: rgba(51, 51, 51, 0.8); }
#search-box .search-field { display: block; margin-top: 60%; }
#search-box .col-md-12.search-form { padding-left: 1.3rem; padding-right: 1.3rem; }
