@import "bourbon";
@charset "utf-8";



/* Colors
--------------------------------*/
$primary-pink: #EA3390;
$medium-grey: #4F5254;


/* Mixins
--------------------------------*/

@mixin animate( $property: all, $duration: 1s, $easing: ease ) {
  -webkit-transition: $property $duration $easing;
  -moz-transition: $property $duration $easing;
  -o-transition: $property $duration $easing;
  transition: $property $duration $easing;
}

@mixin pointerNone(){
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='your_transparent.png', sizingMethod='scale');
	pointer-events: none;
}

body,html{
	width:100%;
	height: 100%;
	background-color: #2B2D2E;
	overflow-x: hidden;
	font-family: 'Raleway', sans-serif;
	position: relative;
}


/* Global Styles
--------------------------------*/

a{
	color: $primary-pink;
}

.pull-bottom {
    display: inline-block;
    vertical-align: bottom;
}

.fix{
	clear: both;
	float: none;
}


.btn-pink{
	background-color: $primary-pink;
	border-color: $primary-pink;
	color: #fff;
  transition: all 0.4s ease-in-out;

  &:hover{
		background-color: #333;
		border-color: #333;		
		color: #fff;
	}

}

.btn-pink-outline{
	border-color: $primary-pink;
	background-color: transparent;
	color: $primary-pink;
  transition: color 0.4s ease-in-out;

	&:hover{
		background-color: $primary-pink;
		color: #fff;
	}
}


/* Bottom Nav
--------------------------------*/

.navbar#btt-nav{
	padding: 0rem 1rem;

	.nav{
		margin: 0 auto;
		display: inline-block;
		width: auto;

		li{
			padding: 0 5px;

			a.nav-link{
				padding-bottom: 0;
	    	padding-top: 0.22rem;
			}

			p{
				margin: 0;
				font-size: 11px;
			}

			i{
				font-size: 30px;
				padding: 0;
				margin: 0;
			}

		}

		.nav-item + .nav-item{
	    margin-left: 1.5em;
		}

		
	}

	.navbar-nav {
    // display:inline-block;
    // float:none;
	}

}


/* Loader Styles
--------------------------------*/
#loader{
	position:fixed;
	top:0;
	height: 0;
	z-index: 2000;
	background: #333 url('../img/footer_lodyas.png') repeat top left;
	width: 100%;
	min-height: 200px;
	color: #fff;
	text-align: center;
	@include pointerNone();

	p{
		font-size: 42px;
	}

	.loader-center{
		margin: 48% auto 0;
		display: block;
		width:300px;
	}

	.spin-load{
		font-size: 74px;
		margin: 0;
		padding: 0;
	}

}












