@import "bourbon";
@charset 'utf-8';
@import "global";

body{
	padding-top:54px;
	padding-bottom: 54px;
}

/* Loader Styles
--------------------------------*/
#loader{
	position:fixed;
	top:0;
	height: 0;
	z-index: 2000;
	background: #333 url('../img/footer_lodyas.png') repeat top left;
	width: 100%;
	min-height: 200px;
	color: #fff;
	text-align: center;
	@include pointerNone();

	p{
		font-size: 42px;
	}

	.loader-center{
		margin: 48% auto 0;
		display: block;
		width:300px;
	}

	.spin-load{
		font-size: 74px;
		margin: 0;
		padding: 0;
	}

}


/* Navbar Styles
--------------------------------*/
.navbar-brand{
	padding: 0;
	margin-top: -4px;
	margin-bottom: -3px;
}

.navbar-brand > img{
	width: 120px;
	height: auto;
}


/* Ebooks List Styles
--------------------------------*/
#ebooks-container{
	display: block;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	overflow-x: hidden;
	height: 100%;
  	

	.ebook-list{
		position: relative;
		padding: 15px 0 0 0;
		background: rgb(43,45,46); /* Old browsers */
		background: -moz-linear-gradient(top,  rgba(43,45,46,1) 0%, rgba(17,17,17,1) 92%); 
		background: -webkit-linear-gradient(top,  rgba(43,45,46,1) 0%,rgba(17,17,17,1) 92%);
		background: linear-gradient(to bottom,  rgba(43,45,46,1) 0%,rgba(17,17,17,1) 92%); 
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2b2d2e', endColorstr='#111111',GradientType=0 );

		.col-sm-3{
			padding-left: 1.3rem;
    	padding-right: 1.3rem;
		}

		a{
			position: relative;
			display: block;
			margin: 0;
			padding: 0;
			-webkit-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
			-moz-box-shadow:    0px 0px 6px 0px rgba(0, 0, 0, 0.5);
			box-shadow:         0px 0px 6px 0px rgba(0, 0, 0, 0.5);
			overflow: hidden;


			.book-titlef{
				width: 100%;
				position: absolute;
				bottom: -18px;
				left: 0;
				background-color: rgba(43,45,46,0.1);
				color: #fff;
				font-size: 10px;
				line-height: 18px;
				max-height: 18px;
				// z-index: 999;

				p{
					// padding: 0px 0 6px 0;
					margin: 0;
					text-align: center;
				}

			}
			
			

			.cover-overlay{
				transition: all 0.5s ease;
				position: absolute;
				width: 100%;
				bottom: -100px;
		    left: 0;
		    height: 100%;
				background: rgba(51,51,51,0.5);
				left: 0;
				z-index: 1001;
				// @include pointerNone();
				color: #fff;
				text-align: center;
				// display: none;
				
				span{
					width: 100%;
					margin-top: 50%;
					display: block;

					i{
						font-size: 48px;
					}

				}

				p{
					margin: 45% 0 5px 0;
					font-size: 14px;
				}

				.btn{
					margin: 0;
				}

			}

			&:hover{

				> .triangle-topright{
					// display: none;
				}

				> .cover-overlay{
						display: block;
						// top:0;
						left: 0;
						bottom: 0 !important;
						height: 100%;
					}
			}

			img{
				display: block;
				width: 100%;
				height: auto;
				
				&:hover, &:active, &:focus{
					cursor:pointer;
				}

				&:hover{

					// + 

					// + .triangle-topright{
					// 	display: none !important;
					// }

				} 

			}

		}
		

	}

	.cover-style{
		position: absolute;
		top:0;
		left: 0;
		width: 120%;
		overflow-x: hidden;
		height: 100%;
		z-index: 1000;
		webkit-box-shadow: inset 0px -6px 15px 0px rgba(0,0,0,0.75);
		-moz-box-shadow: inset 0px -6px 15px 0px rgba(0,0,0,0.75);
		box-shadow: inset 0px -6px 15px 0px rgba(0,0,0,0.75);
		@include pointerNone();
	}


}


.triangle-topright {
	display: block;
  position: relative;
	@include pointerNone();
	z-index: 1001;

	a{
		color: #fff;
	}

	&::before {
    content:'';
    border-top: 55px solid $primary-pink;
    border-left: 55px solid transparent;
    position: absolute;
    top: 0;
    right: 0;
    // webkit-box-shadow: 0px -3px 0px 0px rgba(0,0,0,0.75);
		// -moz-box-shadow: 0px -3px 0px 0px rgba(0,0,0,0.75);
		// box-shadow: 0px -6px 3px 0px rgba(0,0,0,0.75);
	}

	&.bought-m{

		&::before {
    	// border-top: 55px solid $medium-grey;
    	border-top: 55px solid #5cb85c;
		}

	}

	.triangle-text {
		transform: rotate(45deg);
		// Put onto GPU as text is rendered better this way. transform: rotate(45deg) translateZ(0px);
		position: absolute;
		top: 8px;
		right: 1px;
		width: 40px;
		color: #fff;
		font-size: 12px;
		font-weight: bold;
	}
}



/* Search Box
--------------------------------*/

#search-box{
	display: none;
	position: absolute;
	width: 100%;
	top:0;
	left:0;
	z-index: 1031;
	background: rgba(51,51,51,0.8);

	.search-field{
		display: block;
		margin-top: 60%;
	}

	.col-md-12.search-form{
		padding-left: 1.3rem;
    padding-right: 1.3rem;
	}

}






